<p><strong>DOI for current scientific data (Identifier):</strong> 10.5904/wgms-amce-{{version}}</p>
<p><strong>Creator:</strong> World Glacier Monitoring Service (WGMS)</p>
<p><strong>Title:</strong> Annual mass-change estimates for the world's glaciers</p>
<p><strong>Publisher:</strong> World Glacier Monitoring Service (WGMS) and Copernicus Climate Change Service (C3S)</p>
<p><strong>Publication year:</strong> {{version[:4]}}</p>
<p><strong>Release date:</strong> {{version}}</p>
<p><strong>Rights:</strong> Open access under the requirement of correct citation</p>
<p><strong>Citation:</strong> WGMS ({{version[:4]}}): Annual mass-change estimates for the world's glaciers. Individual glacier time series and gridded data products. Digital media. <a href="https://doi.org/10.5904/wgms-amce-{{version}}" target="_blank" rel="noopener">https://doi.org/10.5904/wgms-amce-{{version}}</a></p>
<p><strong>Related publication:</strong></p>
<p>Dussaillant, I., Hugonnet, R., Huss, M., Berthier, E., Bannwart, J., Paul, F., and Zemp, M. (2025): Annual mass
  change of the world's glaciers from 1976 to 2024 by temporal downscaling of satellite data with in-situ
  observations. Earth System Science Data 17(5): 1977-2006. <a href="https://doi.org/10.5194/essd-17-1977-2025"
    target="_blank" rel="noopener">https://doi.org/10.5194/essd-17-1977-2025</a></p>
<p><strong>Contributors:</strong> The dataset was produced by the WGMS with support from members of the scientific
  community. It is derived from glacier observations published and acknowledged in the WGMS Fluctuations of Glaciers database (https://doi.org/wgms-fog-{{version}}). A previous gridded product is also available from the C3S Climate Data Store (<a href="https://doi.org/10.24381/cds.ba597449" target="_blank" rel="noopener">https://doi.org/10.24381/cds.ba597449</a>).</p>
<p><strong>Language:</strong> English</p>
<p><strong>Data format:</strong> Global, regional, and glacier time series as CSV files and global gridded product as a NetCDF-4 file.</p>
<p><strong>Data size:</strong> {{megabytes}} MB</p>
<p><strong>Description:</strong> This dataset of glacier mass change is derived from glacier observations in the WGMS Fluctuations of Glaciers database (https://doi.org/wgms-fog-{{version}}) with the code at https://github.com/wgms-org/amce. Geostatistical modelling is used to temporally downscale multi-year glacier-wide elevation changes from remote sensing with annual mass-changes from field measurements to produce an annual mass change timeseries for every glacier. The results are then aggregated by region, 0.5° grid cell, and globally.
.</p>
<p><strong>Spatial coverage:</strong> Global</p>
<p><strong>Temporal coverage:</strong> Global estimates for hydrological years from {{begin_year}} to {{end_year}} AD, regionally back
  to between {{begin_year_min}} and {{begin_year_max}}, depending on regional data availability.</p>
